<header class="header">
	<div class="logo-container">
		<a href="/"><img src="/assets/images/erabo-logo.svg" alt="Erabo" class="logo"></a>
		<a href="/" class="brand">Pre-Selector™</a>
	</div>

	<span class="burger"></span>

	<div class="nav">
		{% for link in site.data.navigation.links %} 
			{% assign class = nil %} 
			{% if page.url == link.url %}
				{% assign class = '--selected' %} 
			{% elsif link.url != '/' and page.url contains link.url %} 
				{% assign class = '--selected' %} 
			{% endif %} 
			<a href="{{link.url}}" class="{{class}}">{{link.title}}</a> 
		{% endfor %}
		<a href="/" class="btn">Try it for free</a>
	</div>
</header>



