<header class="header">
  <div class="logo-container">
    <a href="/"><img src="/assets/images/erabo-logo.svg" alt="Erabo" class="logo"></a>
    <a href="/" class="brand">Pre-Selector™</a>
  </div>

  <span class="burger"></span>

  <div class="nav">
    <a href="/" class="--selected">Pre-Selector</a>
    <!-- <a href="/cloud.html">Cloud™</a> -->
    <a href="/story">Story</a>
    <a href="/docs">Learn</a>
    <a href="/pricing">Pricing</a>
    <a href="/" class="btn">Try it for free</a>
  </div>
</header>


