<section class="banner form">
    <h3>We are building more photography apps</h3>
    <p>From Clouds to Finance, support us so you can spend less on great software and more on camera gear. We will keep you posted.</p>
    <form  id="erabo-cloud-form" action="#">
        <input type="email" placeholder="Your e-mail" required>
        <button type="submit">→</button>
    </form>
    <p class="banner__submited">✓ Oh Yeah! Welcome to the family.</p>
    <p class="banner__error">✖ Email not valid. Try again</p>
</section>      