<section class="side-menu">
  <h1>Contents</h1>
  <a href="#" class="side-menu__app-title"><img src="/assets/images/ps-icon.png" alt="PS"> Pre-Selector</a>

  <a href="/docs/" class="side-menu__title"><svg class="icon"><use xlink:href="#agenda"/></svg>Getting Started</a>
  <a href="/docs#minumun" class="side-menu__item">Minimum Requirements</a>
  <a href="/docs#download-docs" class="side-menu__item">Download</a>

  <a href="/docs/the-interface" class="side-menu__title"><svg class="icon"><use xlink:href="#window-with-different-sections" /></svg>The Interface</a>
  <a href="/docs/the-interface#importing-images" class="side-menu__item">Importing Images</a>
  <a href="/docs/the-interface#selecting-images" class="side-menu__item">Rating and Selecting Images</a>
  <a href="/docs/the-interface#preview-mode" class="side-menu__item">Entering Preview Mode</a>
  <a href="/docs/the-interface#filtering" class="side-menu__item">Filtering Selection</a>

  <a href="/docs/compressing/" class="side-menu__title"><svg class="icon"><use xlink:href="#minimize" /></svg>Compressing</a>
  <a href="/docs/compressing#change-compression-size" class="side-menu__item">Change compression size</a>
  <a href="/docs/compressing#moving-images" class="side-menu__item">Moving vs Coping</a>
  <a href="/docs/compressing#folder-structure" class="side-menu__item">Folder Structure</a>

  <a href="/docs/bulk-watermark" class="side-menu__title"><svg class="icon"><use xlink:href="#watermark" /></svg>Bulk Watermark</a>
  <a href="/docs/bulk-watermark#custom-logo" class="side-menu__item">Uploading custom logo</a>
  <a href="/docs/bulk-watermark#Opacity" class="side-menu__item">Opacity</a>
  <a href="/docs/bulk-watermark#Angle" class="side-menu__item">Angle</a>
  <a href="/docs/bulk-watermark#Size" class="side-menu__item">Size</a>
  <a href="/docs/bulk-watermark#Template" class="side-menu__item">Template</a>
</section>
