<section class="side-menu">
  <h1>Contents</h1>
  <a href="#" class="side-menu__app-title"><img src="/assets/images/ps-icon.png" alt="PS"> Pre-Selector</a>

  <a href="/learning/" class="side-menu__title"><svg class="icon"><use xlink:href="#agenda"/></svg>Getting Started</a>
  <a href="/learning/#importing-images" class="side-menu__item">Minimum Requirements</a>
  <a href="/learning/#importing-images" class="side-menu__item">Download</a>

  <a href="/learning/the-interface" class="side-menu__title"><svg class="icon"><use xlink:href="#window-with-different-sections" /></svg>The Interface</a>
  <a href="/learning/the-interface#importing-images" class="side-menu__item">Importing Images</a>
  <a href="/learning/the-interface#importing-images" class="side-menu__item">Selecting Images</a>
  <a href="/learning/the-interface#importing-images" class="side-menu__item">Entering Preview Mode</a>
  <a href="/learning/the-interface#importing-images" class="side-menu__item">Filtering Selection</a>

  <a href="/learning/compressing" class="side-menu__title"><svg class="icon"><use xlink:href="#minimize" /></svg>Compressing</a>
  <a href="/learning/compressing#importing-images" class="side-menu__item">Change compression size</a>
  <a href="/learning/compressing#importing-images" class="side-menu__item">Moving vs Coping</a>
  <a href="/learning/compressing#importing-images" class="side-menu__item">Folder Structure</a>

  <a href="/learning/bulk-watermark" class="side-menu__title"><svg class="icon"><use xlink:href="#watermark" /></svg>Bulk Watermark</a>
  <a href="/learning/bulk-watermark#importing-images" class="side-menu__item">Uploading custom logo</a>
  <a href="/learning/bulk-watermark#importing-images" class="side-menu__item">Opacity</a>
  <a href="/learning/bulk-watermark#importing-images" class="side-menu__item">Angle</a>
  <a href="/learning/bulk-watermark#importing-images" class="side-menu__item">Size</a>
  <a href="/learning/bulk-watermark#importing-images" class="side-menu__item">Template</a>
</section>
