---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/assets/css/styles.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="author" href="humans.txt" />

  <!-- Primary Meta Tags -->
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.description}}">
  <meta name="keywords" content="logo watermark software, batch stamp, compression tool, resize image, photo resizer">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://erabo.app/">
  <meta property="og:image" content="/assets/images/erabo-meta.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://erabo.app/">
  <meta property="twitter:title" content="Erabo — A better and faster post-shoot experience.">
  <meta property="twitter:description"
    content="Rate, select, bulk-compress and wattermark your images at the speed of light.">
  <meta property="twitter:image" content="/assets/images/erabo-meta.png">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/images/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#F8333C">
  <meta name="msapplication-TileImage" content="/assets/images/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#F8333C">

  <!-- Scripts -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-62413939-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-62413939-4');
  </script>
</head>

<body>
  {% include header.html %}

  {{ content }}

  {% include footer.html %}
  <!-- Custom scripts for this template -->
  <script src="/assets/js/menu.js?v=1.0"></script>
  <script src="/assets/js/home.js?v=1.1"></script>
</body>

</html>

